/// Preview Purpose
/////////////////////////////
.nk-code-preview-box{
    display: block;
    color: $base-light;
    padding:.15rem 1.25rem;
    border-left: 1px solid $border-light;
}
//
.dashboard-preview{
    height: 200px;
    justify-content: center;
}
// code highlight edit
.prettyprint{
    padding: 1.25rem;
    white-space: pre;
    box-shadow: none !important;
    margin-bottom: 0;
    border-radius: $border-radius;
}
.card-preview{
    border: 1px solid $border-color;
}
.code-block{
    position: relative;
    border: 1px solid $border-color; 
    padding:1.25rem;
    background: $white;
    border-radius: $border-radius;
    .clipboard-init{
        position: absolute;
        top: 12px;
        right: 12px;
    }
    .card-preview + &{
        margin-top: 28px;
    }
    + .code-block {
        margin-top: -($border-radius - 1);
        border-top-color: $border-light;
        border-radius: 0 0 $border-radius $border-radius;
    }
    + .card-preview, + .nk-block-head {
        margin-top: 40px;
    }
    .prettyprint{
        background: $lighter;
        border: none;
        padding:.75rem;
        font-size: 11px;
        line-height: 20px;
        max-height: 136px;
    }
    .title{
        margin-bottom: 1rem;
    }
    .btn {
        background-color: $white;
        &:focus, &:hover {
            border-color: $border-color;
            box-shadow: none;
        }
    }
    &-clean {
        .title {
            font-size: $fx-sz-11;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            color: $base-light;
            font-weight: $fw-medium;
            margin-bottom: 0.45rem;
            display: block;
        }
    }
}

//Icon
.preview{
    &-icon{
        &-list{
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
        }
        &-item{
            flex: 1 0 160px;
            padding: 15px;
            max-width: 50%;
        }
        &-box{
            position: relative;
            padding: 25px 20px;
            text-align: center;
            .btn-clipboard{
                position: absolute;
                top: 0;
                right: 0;
                opacity: 0;
                z-index: 1;
                &:focus{
                    border-color:transparent;
                    box-shadow: none;
                }
            }
            &:hover{
                .btn-clipboard{
                    opacity: 1;
                }
            }
            
        }
        &-wrap{
            padding-bottom: 5px;
            .ni{
                font-size: 30px;
            }
            .preview-icon-svg &{
                margin-bottom: .5rem;
                svg{
                    width: 90px;
                }
            }
        }
        &-name{
            color: $base-light;
            font-size: 11px;
        }
    }
}
.preview {
    &-title, &-title-lg {
        display: block;
        padding-bottom: .75rem;
    }
    &-title-lg {
        font-size: $fx-sz-13;
    }
    &-hr {
        border-top: 1px solid $border-color;
        margin-top: 2rem;
        margin-bottom: 2rem;
        + .preview-title {
            padding-top: .5rem;
        }
        .nk-block-head + & {
            margin-top: .5rem;
        }
    }
    &-list{
        display: flex;
        flex-wrap: wrap;
        margin: -0.75rem
    }
    &-item {
        padding: 0.75rem;
    }
    &-btn {
        &-list{
            display: flex;
            flex-wrap: wrap;
            margin: -0.75rem
        }
        &-item {
            width: 50%;
            padding: 0.75rem;
            .preview-btn-list-fw & {
                width: 100%;
            }
            .preview-btn-list-3x & {
                width: 33.33%;
            }
        }
    }
}
.example{
    &-width, &-height, &-border, &-spacing {
        & > div {
            font-size: $fx-sz-11;
            padding: .5rem;
            text-align: center;
            background-color: $lighter;
            
        }
    }
    &-border{
        margin: -0.5rem;
        > div {
            height: 4.5rem;
            width: 4.5rem;
            margin: .5rem;
        }
    }
    &-border-all > div {
        border: 1px solid $border-color;
    }
    &-width > div {
        height: 2rem;
        background-color: $light;
        margin-bottom: 0.25rem;
    }
    &-height {
        height: 8rem;
        & > div {
            width: 8rem;
            background-color: $light;
            margin-right: .5rem;
        }
    }
    &-spacing {
        & > div {
            height: 2rem;
            width: 4.5rem;
            background-color: $light;
            margin-bottom: .5rem;
        }
        &-pd > div {
            margin-right: .5rem;
            height: auto;
            width: auto;
            > span {
                display: block;
                padding: .25rem;
                line-height: 1;
                border-radius: 2px;
                background-color: $white;
            }
        }
    }
    &-alerts {
        &:not(:last-child){
            margin-bottom: $gutter-width;
        }
    }
}

.components-preview {
    h4.title, h5.title {
        font-size: 1.25rem;
        letter-spacing: -0.01rem;
        font-family: $base-font-family;
        font-weight: $fw-medium;
    }
    .card-preview > .card-inner{
        padding: 1.25rem;
    }
}
@include media-breakpoint-up(md){
    .preview {
        &-btn-item {
            width: 25%;
            .preview-btn-list-fw & {
                width: 25%;
            }
            .preview-btn-list-3x & {
                width: 16.66%;
            }
        }
    }
}
@include media-breakpoint-up(lg){
    .components-preview {
        .nk-block + .nk-block-lg {
            padding-top: 3.75rem;
        }
    }
}
@include media-breakpoint-down(sm){
    .preview {
        &-reference {
            tr, th, td {
                display: block;
                border:0;
                width: 100% !important;
            }
            tbody tr {
                padding: .5rem 0;
                &:not(:last-child){
                    border-bottom: 1px solid $border-light;
                }
                &:nth-child(2n){
                    background-color: rgba($lighter, .3);
                }
            }
            tr td {
                padding:0.2rem 1.25rem;
            }
            tr th:not(:first-child) {
                display: none;
            }
        }
    }
}

// Promo
.pcov {
    &-live {
        position: fixed;
        left: 50%;
        bottom: -50px;
        width: 584px;
        transform: translate(-50%, 100%);
        transition: all .4s;
        background: #fff;
        border-radius: 50px;
        box-shadow: 0 0 40px -2px rgba($dark, .25);
        z-index: 9999;
        &.active {
            transform: translate(-50%, 0);
            bottom: 20px;
            transition-delay: 1s
        }
    }
    &-close {
        color: $base-color;
        border-radius: 50%;
        height: 36px;
        width: 36px;
        line-height: 38px;
        background: rgba($light-400, .6);
        text-align: center;
        display: inline-block;
        position: absolute;
        top: 9px;
        right: 10px;
        font-size: 16px;
        &:hover {
            color: #fff;
            background: $base-text;
        }
    }
    &-wrap {
        display: flex;
        padding: 1rem 3.5rem 1rem 2rem;
        align-items: center;
        border-radius: 50px;
        &:hover {
            box-shadow: 0 0 60px -2px rgba($accent-color, .3);
            .pcov-text {
                color: darken($danger, 10%);
            }
        }
    }
    &-text {
        font-family: $base-font-family;
        font-size: 14px;
        line-height: 22px;
        font-weight: 700;
        color: $danger;
        transition: color .4s;
        .ni {
            font-size: 18px;
            display: inline-block;
            vertical-align: middle;
            margin-left: .5rem;
        }
    }
    &-short {
        position: fixed;
        right: 25px;
        bottom: 0;
        display: flex;
        align-items: center;
        transition: all .4s;
        border-radius: 30px;
        transform: translateY(100%);
        box-shadow: 0 5px 40px 0 rgba($darker, .3);
        color: #fff;
        background: $danger;
        z-index: 99999;
        &:active, &:focus, &:hover {
            color: #fff
        }
        &.active {
            bottom: 25px;
            transform: translateY(0);
            transition-delay: .4s
        }
        &-img {
            width: 60px;
            height: 60px;
            border-radius: 30px;
            padding: 18px 18px;
            transition: all .4s
        }

        &-text {
            padding: 14px 0;
            height: 60px;
            width: 0;
            overflow: hidden;
            white-space: nowrap;
            text-transform: uppercase;
            letter-spacing: .1em;
            font-weight: 600;
            transition: all .4s;
            visibility: hidden;
            font-size: 12px;
            line-height: 16px
        }

        &:hover .pcov-short-text {
            width: 220px;
            visibility: visible;
            padding: 14px 14px 14px 0
        }
    }
}

@media (max-width:575px) {
    .promo-cov-short {
        display: none
    }
}